@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-1000 {
    animation-duration: 1000ms;
  }

  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }

  .animate-loop-scroll {
    animation: loop-scroll 10s linear infinite;
  }

  .animate-loop-scroll:hover {
    animation-play-state: paused;
  }

  @media (max-width: 640px) {
    .animate-loop-scroll {
      animation-duration: 26s;
    }
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
